/* body --------------------------------- */
body {
   font-size: 1.5rem;
   /* background: linear-gradient(rgba(169, 169, 169, 0.4), rgba(169, 169, 169, 0.4)) center top / cover, url("../img/bg-pattern3.png"); */
   background: linear-gradient(rgba(135, 186, 208, 0.07), rgba(135, 186, 208, 0.07)) center top / cover, url("../img/bg-pattern3.png");
   background-repeat: repeat;
}

p, li {
   font-size: 2rem !important;
   color: grey;
}

.gray {
   color: gray;
}

#main-tainer {
   margin-top: 8rem;
}

/* Containing box for the todo list --------------------------------- */
#list-box {
   background: white;
   padding: 1.5rem;
   margin: 0rem 0 1rem;
}

/* Formats the input field */
input {
   font-size: 1.8rem !important;
   padding: 2.5rem !important;
}

.orange {
   color: orangered;
}

/* Formats the header area --------------------------------- */
h1 {
   font-size: 7rem;
   color: gray;
   text-align: center;
   margin-bottom: 2rem;
}

#site-tagline {
   font-size: 2.5rem;
   color: gray;
   margin-bottom: 3rem;
}

#sounds h1 {
   color: orangered;
   font-size: 3rem;
   text-align: right;
   margin-right: 2rem;
}

#sounds h1:hover {
   color: tomato;
   cursor: pointer;
}

/* Sorting function -----------------------------------------*/

.placeholder {
   height: 70px;
   background: lightgray;
   opacity: .3;
}

/* Formats the list items  --------------------------------- */
ul li {
   line-height: 1.8rem;
   padding: 1.2rem;
   font-size: 1.8rem;
   line-height: 1.5;
}

li { /*:nth-child(odd)*/
   background: #f6f7fb;
   margin-bottom: 1.7rem;
}

/* Styles the Delete a todo (X) icon  --------------------------------- */
.del {
   color: orangered;
   font-size: 3rem;
   border-right: 1px dotted gray;
   padding-right: 1.3rem !important;
   margin-right: 2.5rem;
   opacity: .7
}

.del:hover {
   color: orangered;
   opacity: 1;
}


/* Save and reset button styles --------------------------------- */
#reset-list:hover, #email-list:hover, #save-list:hover {
   color: orangered;
   cursor: pointer;
}

#reset-heading {
   font-size: 3rem;
   color: orangered;
   text-align: right;
   cursor: pointer;
   margin-right: 1rem;
}

#reset-list {
   margin-right: 2rem;
   cursor: pointer;
}

h3 i {
   margin-right: 1rem;
}

.btn-group {
   margin-top: 2rem;
}

.btn-group button {
   font-size: 2.4rem !important;
   border-radius: 0;
}

.btn-active {
   background: white;
   color: grey;
   cursor: default;
}

.btn-default {
   color: orangered;
   background-color: #ececec;
   border: none;
}

.btn-default:hover {
   color: tomato;
   background-color: #ececec;
   border: none;
}

.btn-active:link, .btn-active:visited, .btn-active:hover, .btn-active:active {
   background-color: white;
   color: gray;

}

/* style the tooltip background-color */
.tooltip.bottom .tooltip-inner {
   background-color: gray;
   font-size: 1.4rem;
   margin-top: .5rem;
}

.tooltip.bottom .tooltip-arrow {
   border-bottom-color: gray;
   margin-top: .5rem;
}

/* Toggle speed */
.fast .toggle-group {
   transition: left 0.1s;
   -webkit-transition: left 0.1s;
}

/* Form  --------------------------------- */
form {
   margin-bottom: 3rem;
}

/* Footer --------------------------------- */
footer {
   height: 5rem;
   color: white;
   padding: 1.5rem;
}

footer a, footer a:link, footer a:visited {
   color: orangered;
}

footer a:hover, footer a:active {
   color: tomato;
   text-decoration: none;
}

.fa-spacer-right {
   margin-right: 1.2rem;
}

.fa-spacer-left {
   margin-left: 1.2rem;
}

.push-down-3 {
   margin-top: 5rem !important;
}

input#todo-addition {
   padding: 4rem 0 4rem 1rem !important;
   font-size: 25px !important;
   background-color: #f6f7fb !important;
   border: none !important;
   box-shadow: none !important;
   color: gray !important;
}

.lightgrey {
   color: lightgray;
}

#todo-addition::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: lightgrey;
}
#todo-addition::-moz-placeholder { /* Firefox 19+ */
  color: lightgrey;
}
#todo-addition:-ms-input-placeholder { /* IE 10+ */
  color: lightgrey;
}
#todo-addition:-moz-placeholder { /* Firefox 18- */
  color: lightgrey;
}

#sizing-addon1 {
   background: #f6f7fb !important;
   border: none;
   box-shadow: none;
}

#sizing-addon1 i {
   color: gray !important;
}
